<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>Vue learning project</title>
      <link rel="stylesheet" href="style.css">
      <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
   </head>
   <body>
     <div id="app">
        <product-display></product-display>
        <product-display></product-display>
        <product-display></product-display>
       
     </div>
    
     <script src="./main.js"></script>
     <script src="./components/ProductDisplay.js"></script>
     <script>
        const mountedApp=app.mount('#app')
     </script>
   </body>
</html>
